body {
    background: #542579 url("img/wfbg.png") repeat-x fixed bottom;
    min-height: 100%;
}

::selection {
    background-color: #542579;
    color: white;
}

.navbar {
    box-shadow: 0 0 50px #000;
}

.bg-darkblue {
    background: #00254f;
}

.circle {
    border-radius: 50%;
}

.links a {
    color: #636c72;
}

.links a:hover {
    text-decoration: none;
}

.links .fa-twitch:hover {
    color: #6441a5;
}

.links .fa-youtube-play:hover {
    color: #ff0000;
}

.links .fa-twitter:hover {
    color: #1DA1F2;
}

#logo {
    height: 3.2em;
    margin-bottom: -1.6em;
}

@media (max-width: 575px){
    #logo {
        height: 2.2em;
        margin-bottom: 0em;
    }

    .display-3 {
        font-size: 3rem;
    }

    .user-img {
        display: none;
    }
}
