/*Global stuff*/
body {
    background: #542579 url("img/wfbg.png") repeat-x fixed bottom;
}

::selection {
    background-color: #542579;
    color: white;
}

.navbar {
    box-shadow: 0 0 50px #000;
}

.bg-darkblue {
    background: #00254f;
}

#logo {
    height: 3.2em;
    margin-bottom: -1.6em;
}

.circle {
    border-radius: 50%;
}

/*Custom user boxes*/
.person {
    overflow: auto;
}

.user-img {
    width: 25%;
}

.person:nth-of-type(odd) .user-img {
    float: left;
    margin-right: 20px;
}

.person:nth-of-type(even) .user-img {
    float: right;
    margin-left: 20px;
}

.person:nth-of-type(even) h2 {
    text-align: right;
}

.person:nth-of-type(even) .links {
    text-align: right;
}

/*User links*/
.links {
    display: block;
}

.links a {
    color: #636c72;
    font-size: 1.5rem;
}

.links a:hover {
    text-decoration: none;
}

.links .fa-twitch:hover {
    color: #6441a5;
}

.links .fa-youtube-play:hover {
    color: #ff0000;
}

.links .fa-twitter:hover {
    color: #1DA1F2;
}

/*Minimum size adjustments*/
@media screen and (max-width: 575px) {
    #logo {
        height: 2.2em;
        margin-bottom: 0em;
    }

    .display-3 {
        font-size: 3rem;
    }

    .user-img {
        display: none;
    }

    .person h2, .links {
        text-align: center!important;
    }
}
