/*Global stuff*/
body {
    background: #481F6E url("img/wfbg.png") repeat-x fixed bottom;
}

::selection {
    background-color: #542579;
    color: white;
}

.navbar {
    box-shadow: 0 0 50px #000;
}

.bg-darkblue {
    background: #00254f;
}

#logo {
    height: 3.2em;
    margin-bottom: -1.6em;
}

.circle {
    border-radius: 50%;
}

.wfbutton {
    margin-left: auto;
    margin-right: auto;
    width: 2em;
    height: 2em;
    font-size: 2em;
    border: 2px solid #481F6E;
    background-color: #f8f9fa;
    color: #481F6E;
    transition: all .5s;
    padding: 0;
    display: block;
}

.wfbutton:hover {
    background-color: #481F6E;
    color: #f8f9fa;
}

/*Custom user boxes*/
.person {
    display: flex;
}

.user-img {
    width: 25%;
    height: 25%;
    margin-right: 20px;
}

.user-info {
    flex-direction: column;
}

.person:nth-of-type(even) {
    flex-direction: row-reverse;
}

.person:nth-of-type(even) .user-img {
    margin-right: 0;
    margin-left: 20px;
}

.person:nth-of-type(even) h2, .person:nth-of-type(even) .links {
    text-align: right;
}

/*User links*/
.links {
    display: block;
}

.links a {
    color: #636c72;
    font-size: 1.5rem;
}

.links a:hover {
    text-decoration: none;
}

.links .fa-twitch:hover {
    color: #6441a5;
}

.links .fa-youtube-play:hover {
    color: #ff0000;
}

.links .fa-twitter:hover {
    color: #1DA1F2;
}

/*Minimum size adjustments*/
@media screen and (max-width: 575px) {
    #logo {
        height: 2.2em;
        margin-bottom: 0em;
    }

    .display-3 {
        font-size: 3rem;
    }

    .user-img {
        display: none;
    }

    .links, .person h2 {
        text-align: center!important;
    }
}
